Author a short paper regarding a recent news article about an event that has happened in the last five months of assignment date.  Find the event from a credible news organization.

Undergraduate Topics

Internet policy
Usage issues that affect cyber security
Laws regarding the Internet use
Dark webThe Open Router (TOR)
8chain politically incorrect thread

Graduate Topics

information warfare
workforce/manpower problems
cyber security
Signals Intelligence (SIGINT)
Electronic Warfare (EW)
cryptocurrencies funding illicit activities
Extremism and terrorism on line
Human trafficking on line

Undergraduates you are to have 1 page single spaced and graduate students 2 pages single spaced.  This does not include at least 5 scholarly references.  At least 90% of the references must come from peer reviewed resources such as those found on Google Scholar.  No more than 20% of the paper can come up as plagiarized which includes direct sources.  Even if it is cited it is still counted against you.  Failure to meet this requirement will result in a zero.  This paper for graduate students can be a method to explore options for final paper.
